In [266]:
import pandas as pd
import numpy as np
df = pd.read_csv('pre.csv')
df = df.drop(['Date'], axis=1)
df = df.drop(df.index[335:364])

In [267]:
list = df.columns
print(list)

Index(['TempHighF', 'TempAvgF', 'TempLowF', 'DewPointHighF', 'DewPointAvgF',
       'DewPointLowF', 'HumidityHighPercent', 'HumidityAvgPercent',
       'HumidityLowPercent', 'SeaLevelPressureHighInches',
       'SeaLevelPressureAvgInches', 'SeaLevelPressureLowInches',
       'VisibilityHighMiles', 'VisibilityAvgMiles', 'VisibilityLowMiles',
       'WindHighMPH', 'WindAvgMPH', 'WindGustMPH', 'PrecipitationSumInches'],
      dtype='object')

In [268]:
t = 0
j = 0
m=[]
for i in df['PrecipitationSumInches']:
    if i != 'T' and i != '-':
        j+=1
        t += float(i)
m.append(t/j)
print(m)

[0.10330033003300333]

In [269]:
m = []
cnt=0
nf = df.drop(df.index[334:])
for col in list:
    t = 0
    j = 0
    for i in nf[col]:
        if i != 'T' and i != '-':
            j+=1
            t += float(i)
        else:
            cnt+=1
    m.append(t/j)
print(m)
print(cnt)
print(nf['TempHighF'][0])

[80.84131736526946, 70.22155688622755, 59.050898203592816, 60.04545454545455, 54.53030303030303, 48.1030303030303, 85.33033033033033, 63.45945945945946, 41.171171171171174, 30.117904191616773, 30.02607784431138, 29.92946107784431, 9.996969696969696, 9.227272727272727, 6.948484848484848, 13.853293413173652, 5.278443113772455, 22.293413173652695, 0.10360927152317884]
59
74

In [270]:
app=[]
j=0
#print(len(list))
for col in list:
    #print(col)
    for i in range(0,334):
        if nf[col][i] == 'T' or nf[col][i] == '-':
            nf[col][i] = m[j]
            app.append('q')
    j+=1
print(len(app))
nf.to_csv('a.csv', index=False)

59

<ipython-input-270-f34f458fb199>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nf[col][i] = m[j]

In [271]:
df = pd.read_csv('a.csv')
df = df.astype(float)

In [272]:
df.to_csv('a.csv', index=False)

In [273]:
from sklearn.preprocessing import MinMaxScaler

In [227]:
'''scaler = MinMaxScaler()
df = scaler.fit_transform(df)
df = pd.DataFrame(df)
print(df.describe())'''

'scaler = MinMaxScaler()\ndf = scaler.fit_transform(df)\ndf = pd.DataFrame(df)\nprint(df.describe())'

In [275]:
df

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches
0,74.0,60.0,45.0,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.460000
1,56.0,48.0,39.0,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.000000
2,58.0,45.0,32.0,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.000000
3,61.0,46.0,31.0,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.000000
4,58.0,50.0,41.0,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,0.103609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,48.0,44.0,40.0,47.0,39.0,23.0,100.0,72.0,43.0,30.28,30.14,30.03,10.0,5.0,1.0,10.0,4.0,15.0,0.020000
330,50.0,42.0,34.0,49.0,45.0,28.0,100.0,91.0,82.0,30.25,30.00,29.92,10.0,4.0,0.0,17.0,6.0,28.0,0.010000
331,53.0,42.0,30.0,27.0,21.0,14.0,82.0,52.0,22.0,30.50,30.40,30.25,10.0,10.0,10.0,16.0,6.0,26.0,0.000000
332,56.0,43.0,30.0,27.0,23.0,19.0,78.0,51.0,24.0,30.57,30.48,30.42,10.0,10.0,3.0,10.0,2.0,15.0,0.000000
333,69.0,51.0,33.0,45.0,38.0,23.0,86.0,64.0,42.0,30.40,30.27,30.17,10.0,10.0,10.0,13.0,3.0,22.0,0.000000

In [276]:
from sklearn.model_selection import train_test_split

In [246]:
scaler = MinMaxScaler()
x = df.drop('PrecipitationSumInches',axis = 1)
x = scaler.fit_transform(x)
x = pd.DataFrame(x)
x.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000
mean,0.678352,0.654310,0.638809,0.726540,0.705005,0.668160,0.767148,0.520849,0.375556,0.417012,0.421308,0.461756,0.996970,0.903409,0.694848,0.326347,0.427844,0.276946
std,0.212179,0.238341,0.265430,0.234992,0.249278,0.260541,0.179734,0.168491,0.183974,0.152337,0.147408,0.153168,0.054717,0.174634,0.349265,0.168061,0.223748,0.129100
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.555556,0.492063,0.431034,0.580645,0.500000,0.434783,0.714286,0.432143,0.240964,0.316239,0.327434,0.367925,1.000000,0.875000,0.400000,0.238095,0.300000,0.187500
50%,0.736111,0.714286,0.689655,0.798387,0.787879,0.768116,0.809524,0.528571,0.373494,0.384615,0.398230,0.443396,1.000000,1.000000,0.800000,0.333333,0.400000,0.270833
75%,0.833333,0.857143,0.879310,0.919355,0.924242,0.884058,0.888889,0.614286,0.490964,0.495726,0.486726,0.537736,1.000000,1.000000,1.000000,0.428571,0.600000,0.354167
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [277]:
y = df['PrecipitationSumInches'].multiply(25.4)
y = y[:,None]
y = scaler.fit_transform(y)
y = pd.DataFrame(y)
y.describe()

                0
count  334.000000
mean     0.028309
std      0.105728
min      0.000000
25%      0.000000
50%      0.000000
75%      0.013661
max      1.000000

In [278]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.25, random_state = 42)
x_train.shape

(250, 18)

In [279]:
x_test.shape

(84, 18)

In [280]:
y_test = np.array(y_test)
y_test = y_test.reshape(-1,1)
y_test.shape

(84, 1)

In [281]:
from sklearn.ensemble import RandomForestRegressor# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 2000, random_state = 42)# Train the model on training data
rf.fit(x_train, y_train)

<ipython-input-281-f8895c6021d9>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestRegressor(n_estimators=2000, random_state=42)

In [282]:
predictions = rf.predict(x_test)# Calculate the absolute errors
pre = scaler.inverse_transform(predictions.reshape(-1,1))
test = scaler.inverse_transform(y_test)
errors = abs(pre - test)# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 1.93 degrees.

In [283]:
pf = pd.DataFrame()

In [284]:
mape = 100 * (errors / test)# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: nan %.

<ipython-input-284-09b14c126962>:1: RuntimeWarning: divide by zero encountered in true_divide
  mape = 100 * (errors / test)# Calculate and display accuracy
<ipython-input-284-09b14c126962>:1: RuntimeWarning: invalid value encountered in true_divide
  mape = 100 * (errors / test)# Calculate and display accuracy

In [285]:
y_test.shape
y_test = np.array(y_test)

In [289]:
pre = scaler.inverse_transform(predictions.reshape(-1,1))
y = scaler.inverse_transform(y_test.reshape(-1,1))

[[2.59290265e-02]
 [2.54000000e-04]
 [1.36292783e+00]
 [2.48175662e-02]
 [2.77751986e+00]
 [3.69537914e+00]
 [1.49681695e-01]
 [5.96471480e-01]
 [4.50548228e+00]
 [4.09274742e-01]
 [1.29450427e-01]
 [1.56871073e-01]
 [1.25258838e+00]
 [4.02262449e+00]
 [4.86605588e+00]
 [1.56584692e-01]
 [1.47545139e+01]
 [4.13635215e-01]
 [1.61319858e-01]
 [4.12326947e-01]
 [0.00000000e+00]
 [1.04658555e+00]
 [1.99396728e-01]
 [3.47197815e-02]
 [1.12680582e+00]
 [3.12840530e-02]
 [4.73332785e-01]
 [3.61168656e-01]
 [9.60762990e-01]
 [1.05973510e-02]
 [5.32148083e-01]
 [1.81565424e-01]
 [1.77800000e-03]
 [2.19219057e+01]
 [1.08067033e+00]
 [4.09641864e-01]
 [1.04483447e+00]
 [2.02276937e-01]
 [2.02140265e-02]
 [1.52728686e+00]
 [3.38339480e+00]
 [8.04226659e-01]
 [0.00000000e+00]
 [8.46355334e-01]
 [3.88694518e+00]
 [1.24502095e+00]
 [3.71223523e-01]
 [1.80759310e+00]
 [1.18026315e+00]
 [1.36545564e+00]
 [9.06388907e-02]
 [1.94118238e-01]
 [1.31020265e-02]
 [8.81909026e-01]
 [9.50724944e-01]
 [3.55600000e-03]
 [2.05884662e-01]
 [5.47189172e-02]
 [1.56983775e-03]
 [6.98384775e-01]
 [5.26335099e-03]
 [1.15731357e+00]
 [1.33295962e+00]
 [1.43247589e-01]
 [1.63210118e+01]
 [6.15367987e-01]
 [2.14761037e+00]
 [1.90169043e-01]
 [2.90400513e+00]
 [2.68287374e+01]
 [4.75046864e-01]
 [6.24802152e-02]
 [1.27562669e-01]
 [8.89765364e-02]
 [5.97951325e-03]
 [6.66162099e-01]
 [6.90383775e-03]
 [6.89315629e-02]
 [2.38414745e+00]
 [8.94635099e-03]
 [5.26335099e-03]
 [5.05643351e-01]
 [6.60000497e-02]
 [1.00875806e+01]]
[[ 0.       ]
 [ 0.       ]
 [ 4.318    ]
 [ 0.       ]
 [ 0.       ]
 [ 2.286    ]
 [ 0.       ]
 [ 0.254    ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 1.016    ]
 [ 2.6316755]
 [12.954    ]
 [ 0.       ]
 [34.036    ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 1.778    ]
 [ 2.6316755]
 [ 0.       ]
 [ 2.6316755]
 [ 0.       ]
 [ 0.       ]
 [ 0.254    ]
 [ 1.524    ]
 [ 2.6316755]
 [ 0.       ]
 [ 0.       ]
 [ 2.6316755]
 [ 2.032    ]
 [ 0.       ]
 [ 3.81     ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 2.6316755]
 [ 2.6316755]
 [ 0.       ]
 [ 0.       ]
 [ 0.508    ]
 [ 0.       ]
 [ 2.6316755]
 [ 2.6316755]
 [ 0.       ]
 [18.796    ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 2.794    ]
 [ 0.254    ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 2.6316755]
 [ 0.       ]
 [ 0.       ]
 [23.876    ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]
 [ 0.       ]]

In [303]:
print(y[:])

            0
0    0.125683
1    0.000000
2    0.000000
3    0.000000
4    0.028309
..        ...
329  0.005464
330  0.002732
331  0.000000
332  0.000000
333  0.000000

[334 rows x 1 columns]

In [309]:
print(pre[:])

[[2.59290265e-02]
 [2.54000000e-04]
 [1.36292783e+00]
 [2.48175662e-02]
 [2.77751986e+00]
 [3.69537914e+00]
 [1.49681695e-01]
 [5.96471480e-01]
 [4.50548228e+00]
 [4.09274742e-01]
 [1.29450427e-01]
 [1.56871073e-01]
 [1.25258838e+00]
 [4.02262449e+00]
 [4.86605588e+00]
 [1.56584692e-01]
 [1.47545139e+01]
 [4.13635215e-01]
 [1.61319858e-01]
 [4.12326947e-01]
 [0.00000000e+00]
 [1.04658555e+00]
 [1.99396728e-01]
 [3.47197815e-02]
 [1.12680582e+00]
 [3.12840530e-02]
 [4.73332785e-01]
 [3.61168656e-01]
 [9.60762990e-01]
 [1.05973510e-02]
 [5.32148083e-01]
 [1.81565424e-01]
 [1.77800000e-03]
 [2.19219057e+01]
 [1.08067033e+00]
 [4.09641864e-01]
 [1.04483447e+00]
 [2.02276937e-01]
 [2.02140265e-02]
 [1.52728686e+00]
 [3.38339480e+00]
 [8.04226659e-01]
 [0.00000000e+00]
 [8.46355334e-01]
 [3.88694518e+00]
 [1.24502095e+00]
 [3.71223523e-01]
 [1.80759310e+00]
 [1.18026315e+00]
 [1.36545564e+00]
 [9.06388907e-02]
 [1.94118238e-01]
 [1.31020265e-02]
 [8.81909026e-01]
 [9.50724944e-01]
 [3.55600000e-03]
 [2.05884662e-01]
 [5.47189172e-02]
 [1.56983775e-03]
 [6.98384775e-01]
 [5.26335099e-03]
 [1.15731357e+00]
 [1.33295962e+00]
 [1.43247589e-01]
 [1.63210118e+01]
 [6.15367987e-01]
 [2.14761037e+00]
 [1.90169043e-01]
 [2.90400513e+00]
 [2.68287374e+01]
 [4.75046864e-01]
 [6.24802152e-02]
 [1.27562669e-01]
 [8.89765364e-02]
 [5.97951325e-03]
 [6.66162099e-01]
 [6.90383775e-03]
 [6.89315629e-02]
 [2.38414745e+00]
 [8.94635099e-03]
 [5.26335099e-03]
 [5.05643351e-01]
 [6.60000497e-02]
 [1.00875806e+01]]

                                              actual predics
0              0
0    0.125683
1    0.000000
2   ...     NaN