In [1]:
import pandas as pd
import sklearn as sk
import numpy as np

In [2]:
df = pd.read_csv('Rainfall data for the year 2016.csv')
df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches
0,01-01-2016,74,60,45,67,49,43,93,75,57,29.86,29.68,29.59,10,7,2,20,4,31,0.46
1,02-01-2016,56,48,39,43,36,28,93,68,43,30.41,30.13,29.87,10,10,5,16,6,25,0
2,03-01-2016,58,45,32,31,27,23,76,52,27,30.56,30.49,30.41,10,10,10,8,3,12,0
3,04-01-2016,61,46,31,36,28,21,89,56,22,30.56,30.45,30.30,10,10,7,12,4,20,0
4,05-01-2016,58,50,41,44,40,36,86,71,56,30.41,30.33,30.27,10,10,7,10,2,16,T

In [3]:
df = df.replace('T', 0)
df = df.replace('-', 0)

In [5]:
df.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches
0,01-01-2016,74,60,45,67,49,43,93,75,57,29.86,29.68,29.59,10,7,2,20,4,31,0.46
1,02-01-2016,56,48,39,43,36,28,93,68,43,30.41,30.13,29.87,10,10,5,16,6,25,0
2,03-01-2016,58,45,32,31,27,23,76,52,27,30.56,30.49,30.41,10,10,10,8,3,12,0
3,04-01-2016,61,46,31,36,28,21,89,56,22,30.56,30.45,30.30,10,10,7,12,4,20,0
4,05-01-2016,58,50,41,44,40,36,86,71,56,30.41,30.33,30.27,10,10,7,10,2,16,0

In [7]:
df = df.drop('Date', axis = 1)
df.head()

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches
0,74,60,45,67,49,43,93,75,57,29.86,29.68,29.59,10,7,2,20,4,31,0.46
1,56,48,39,43,36,28,93,68,43,30.41,30.13,29.87,10,10,5,16,6,25,0
2,58,45,32,31,27,23,76,52,27,30.56,30.49,30.41,10,10,10,8,3,12,0
3,61,46,31,36,28,21,89,56,22,30.56,30.45,30.30,10,10,7,12,4,20,0
4,58,50,41,44,40,36,86,71,56,30.41,30.33,30.27,10,10,7,10,2,16,0

In [8]:
df.shape

(364, 19)

In [10]:
list_hrs = []
for i in range(0, 364):
    list_hrs.append(i*24)
print(len(list_hrs))

364

In [15]:
df['hrs'] = list_hrs
df.head(336)

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,hrs
0,74.0,60.0,45.0,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,0
1,56.0,48.0,39.0,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0,24
2,58.0,45.0,32.0,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0,48
3,61.0,46.0,31.0,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0,72
4,58.0,50.0,41.0,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,0,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,53.0,42.0,30.0,27.0,21.0,14.0,82.0,52.0,22.0,30.50,30.40,30.25,10.0,10.0,10.0,16.0,6.0,26.0,0,7944
332,56.0,43.0,30.0,27.0,23.0,19.0,78.0,51.0,24.0,30.57,30.48,30.42,10.0,10.0,3.0,10.0,2.0,15.0,0,7968
333,69.0,51.0,33.0,45.0,38.0,23.0,86.0,64.0,42.0,30.40,30.27,30.17,10.0,10.0,10.0,13.0,3.0,22.0,0,7992
334,70.0,57.0,44.0,63.0,57.0,43.0,100.0,85.0,70.0,30.17,30.08,30.02,10.0,8.0,0.0,12.0,3.0,16.0,0.01,8016
335,74.0,68.0,62.0,69.0,65.0,62.0,100.0,90.0,79.0,30.12,30.05,29.99,10.0,6.0,0.0,13.0,5.0,20.0,Need to predict,8040

In [12]:
print(df.values[0])

[74 60 45 '67' '49' '43' '93' '75' '57' 29.86 29.68 29.59 '10' '7' '2' 20
 4 31 '0.46' 0]

In [14]:
nf = df[335:364]
nf.head()

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,hrs
335,74.0,68.0,62.0,69.0,65.0,62.0,100.0,90.0,79.0,30.12,30.05,29.99,10.0,6.0,0.0,13.0,5.0,20.0,Need to predict,8040
336,67.0,63.0,58.0,64.0,62.0,56.0,100.0,97.0,93.0,30.07,29.86,29.70,10.0,6.0,0.0,20.0,7.0,28.0,Need to predict,8064
337,81.0,67.0,53.0,57.0,48.0,39.0,100.0,62.0,23.0,29.84,29.64,29.51,10.0,10.0,10.0,16.0,5.0,27.0,Need to predict,8088
338,66.0,53.0,40.0,39.0,32.0,19.0,76.0,47.0,18.0,30.20,30.06,29.88,10.0,10.0,10.0,15.0,5.0,28.0,Need to predict,8112
339,67.0,53.0,38.0,38.0,33.0,25.0,85.0,53.0,20.0,30.37,30.26,30.20,10.0,10.0,10.0,9.0,3.0,16.0,Need to predict,8136

In [16]:
nf.to_csv('needtopredict.csv', index = False)

In [18]:
df = df.drop(df.index[335:364])
df.shape

(335, 20)

In [19]:
list_col = df.columns
for i in range(0, len(list_col)):
    df[list_col[i]] = df[list_col[i]].astype(float)
print(df.values[0])

[74.   60.   45.   67.   49.   43.   93.   75.   57.   29.86 29.68 29.59
 10.    7.    2.   20.    4.   31.    0.46  0.  ]

In [20]:
df.to_csv('train_data.csv', index = False)

In [21]:
from sklearn.linear_model import LinearRegression as LR

In [55]:
x = df.drop(['PrecipitationSumInches'], axis = 1)
y = df['PrecipitationSumInches']
print(y)

0      0.46
1      0.00
2      0.00
3      0.00
4      0.00
       ...
330    0.01
331    0.00
332    0.00
333    0.00
334    0.01
Name: PrecipitationSumInches, Length: 335, dtype: float64

In [56]:
print(x.values)

[[7.400e+01 6.000e+01 4.500e+01 ... 4.000e+00 3.100e+01 0.000e+00]
 [5.600e+01 4.800e+01 3.900e+01 ... 6.000e+00 2.500e+01 2.400e+01]
 [5.800e+01 4.500e+01 3.200e+01 ... 3.000e+00 1.200e+01 4.800e+01]
 ...
 [5.600e+01 4.300e+01 3.000e+01 ... 2.000e+00 1.500e+01 7.968e+03]
 [6.900e+01 5.100e+01 3.300e+01 ... 3.000e+00 2.200e+01 7.992e+03]
 [7.000e+01 5.700e+01 4.400e+01 ... 3.000e+00 1.600e+01 8.016e+03]]

In [57]:
x = x.values
y = y.values

In [58]:
x_train = x[0:300]
y_train = y[0:300]
x_test = x[300:]
y_test = y[300:]
print(len(x_train), len(x_test))

300 35

In [59]:
lr = LR()

In [60]:
lr.fit(x_train, y_train)

LinearRegression()

In [61]:
pre_y = lr.predict(x_test)

In [62]:
pf = pd.DataFrame({'Actual': y_test, 'Predicted': pre_y})
pf.head(35)

    Actual  Predicted
0     0.00   0.199856
1     0.00   0.227356
2     0.00   0.132520
3     0.00   0.153322
4     0.00   0.094070
5     0.00   0.147253
6     0.00   0.093839
7     0.00   0.041586
8     0.00   0.055030
9     0.00   0.131415
10    0.00   0.123865
11    0.00   0.117104
12    0.00   0.189902
13    0.00   0.093437
14    0.30   0.331728
15    0.00   0.032708
16    0.00   0.229158
17    0.00   0.235613
18    0.56   0.692675
19    1.51   0.631535
20    0.04   0.174908
21    0.00  -0.004233
22    0.00   0.278655
23    0.00  -0.017918
24    0.00   0.290669
25    0.00   0.325572
26    0.00   0.180554
27    0.00   0.227489
28    0.00   0.121803
29    0.02   0.381598
30    0.01   0.911440
31    0.00   0.185493
32    0.00   0.287124
33    0.00   0.258945
34    0.01   0.609811

In [63]:
print("Accuracy of the model =",lr.score(x_train, y_train))

Accuracy of the model = 0.3358203485362492